/* yahoo reset css */

/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* dan martin dot net css */

/* base styles */

html  {

  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 1em;

}

h1,h2,h3,h4,h5  {

  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

}

h2  {

  font-size: 1.5em;

}

a {

  font-weight: bold;
  color: #003366; /* dark blue */
  text-decoration: none;

}

a:hover {

  text-decoration: underline;

}

/* other styles */

header {

  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 2.5em;
  background-color: #003366; /* dark blue */
  color: #FFFFFF;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;

}

article {

  border: solid 1px #000000;
  margin: .25em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;

}

#now  {

  background-color: #CCCCCC; /* grey */

}

#then {

  margin-left: 5em;
  background-color: #CCCC99; /* gold-ish */

}

#alsonow  {

  background-color: #CCCCCC; /* grey */

}

img {

  padding-left: 2em;
  padding-right: 2em;

}

footer {

  font-size: 1em;
  width: 100%;
  height: 2em;
  padding-left: 1em;
  background: #E6E6E6; /* light grey */
  font-style: italic;
  color: #000000;

}

/* media query stuff */

@media screen and (min-width: 64em) {

  #now  {
    background-color: #CCCCCC;
    }
  #alsonow  {
    background-color: #CCCCCC;
    }
  #then {
    background-color: #CCCC99;
    }

}

@media screen and (max-width: 37.5em){

	#now {
		background-color: #CCCC99;
	}
	#alsonow  {
    background-color: #CCCC99;
  }
  #then {
    background-color: #CCCCCC;
  }
  #header {
    font-size: 2em;
  }

}
